<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cade Buffet</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <h1>Cade Buffet</h1>


        <div class="search">
            <label for="search">Buscar buffet: </label>
            <input type="text" id="search" v-model="searchText" placeholder="Entre com um nome">
        </div>


        <main>
            <div v-if="listResult.length <= 0">
                <h3>Nenhum buffet encontrado.</h3>
            </div>
            <ul>
                <li v-for="item, index in listResult">
                    <div class="card">

                        <p>{{ item.commercial_name }}</p>
                        <button>Ver Eventos</button>
                        <button>Ver Mais</button>

                    </div>
                </li>
            </ul>
        </main>
    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>

</html>